<li id="<%= stock.id %>" class="collection-item"> 
	Ticker: <%= stock.symbol %> 
	<%= link_to stock_path(stock), class: "btn-floating waves-effect waves-light" do %> 
		<i class="material-icons">insert_chart</i>
	<% end %>
	|
	<%= link_to stock_path(stock), method: :delete, remote: true, class: "btn-floating waves-effect waves-light" do %>
		<i class="material-icons">delete</i>
	<% end %>
</li>