<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back To Profile', @user %><br />

<%= link_to 'Delete User', user_path(@user), method: :delete,  data: {:confirm => 'Are you sure?'} %>