<h1 class="center">Editing User</h1>

<%= render 'form', user: @user %>
<div class="container">
	<%= button_to user_path(@user), method: :delete,  data: {:confirm => 'Are you sure?'}, class: "right btn waves-effect waves-light" do%>
		      <i class="material-icons left">delete</i>Delete Account
	<% end %>
</div>