<div class="container z-depth-5">
	<div class="inner">
		<%# image_tag 'polygons.svg', class: "responsive-img" %>
		<h1 class="center">Stock Message Service</h1>
		<br>
		<h2 class="center">Automated Stock Updates Via Text Message (sms)</h2>
	</div>
</div>